apiVersion: apps/v1
kind: Deployment
metadata:
  name: static-site-app-deployment
  namespace: production
  labels:
    app: spa-game-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spa-game-app
  template:
    metadata:
      labels:
        app: spa-game-app
    spec:
      containers:
      - name: static-site-app
        image: ejick007/diplom-app:latest
        resources:
          requests:
            cpu: "1"
            memory: "300Mi"
          limits:
            cpu: "2"
            memory: "500Mi"
        ports:
        - containerPort: 80